<h2>Manage Order</h2>
<div>
    <jh-alert-error></jh-alert-error>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <div class="form-group">
                        <input id="ean"
                               type="text"
                               class="form-control input-lg"
                               placeholder="EAN-13 Barcode"
                               autocomplete="off"
                               autofocus

                               ng-model="ean"
                               ng-change="search(ean)"
                               ng-disabled="searching"
                        />
                    </div>
                </form>
            </div>
            <div class="col-xs-12">
                <div ng-if="!!time">
                    <div ng-include="'/invoice/view/html/' + order.id + '?time=' + time"></div>
                </div>
            </div>
        </div>
    </div>
</div>
